<h1>Connect4#play</h1>
<br/>
<p>Find me in app/views/connect4/play.html.erb</p>
<br/>
How to play. Click on the slot you'd like to play in
<br/>

<br/>
Choose your Slot player 1
<br/>
Slots drop<br/>
<br/>  </span>|<span id='1' onclick="addto1()"> </span>|<span id='2'> </span>|<span id='3'> </span>|<span id='4'> </span>|<span id='5'> </span>|<span id='6'> </span>|<span id='7'> </span>|
<br/>

<br/>  </span>|<span id='16'> </span>|<span id='26'> </span>|<span id='36'> </span>|<span id='46'> </span>|<span id='56'> </span>|<span id='66'> </span>|<span id='76'> </span>|
<br/>  </span>|<span id='15'> </span>|<span id='25'> </span>|<span id='35'> </span>|<span id='45'> </span>|<span id='55'> </span>|<span id='65'> </span>|<span id='75'> </span>|
<br/>  </span>|<span id='14'> </span>|<span id='24'> </span>|<span id='34'> </span>|<span id='44'> </span>|<span id='54'> </span>|<span id='64'> </span>|<span id='74'> </span>|
<br/>  </span>|<span id='13'> </span>|<span id='23'> </span>|<span id='33'> </span>|<span id='43'> </span>|<span id='53'> </span>|<span id='63'> </span>|<span id='73'> </span>|
<br/>  </span>|<span id='12'> </span>|<span id='22'> </span>|<span id='32'> </span>|<span id='42'> </span>|<span id='52'> </span>|<span id='62'> </span>|<span id='72'> </span>|
<br/>  </span>|<span id='11'> </span>|<span id='21'> </span>|<span id='31'> </span>|<span id='41'> </span>|<span id='51'> </span>|<span id='61'> </span>|<span id='71'> </span>|



<script>


</script>
